<!DOCTYPE HTML>
<html>
    <head>
    </head>
    <body>
      Confirmation is due to: {{expirationDate}} UTC
        <form action=http://localhost:3000/user/resetPassword-confirm/{{hash}} method="POST">
            <input type="text" name="password" placeholder="New password" />
            <input type="submit" value="Confirm password reset" />
        </form>
    </body>
</html>